---
layout: indexpage
title: Articles
subtitle: My Writings
---

<ul class="list-posts">
    {% assign is_empty = true %}
    {% for post in site.posts %}
      {% if post.categories contains page.category %}
        {% assign is_empty = false %}
      {% endif %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <span id="{{ post.title }}" class="post-teaser__date"><script>getDateString({{ post.date | date: "%d, '%B', %Y, " }}'{{ post.title }}');</script></span>
            </a>
        </li>
    {% endfor %}

    {% if is_empty %}
        <li class="empty-post-list">
            Articles are currently under intensive development,
            please come back soon to read them!
        </li>
    {% endif %}

</ul>
